<footer class="footer">
    <div class="container bottom_border">
    <div class="row">
    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
    <!--headin5_amrc-->
    <a class="dib mr20"
   href="/">
    
        <img alt="Udemy"
             class="udemy-logo"
             src="https://www.udemy.com/staticx/udemy/images/v6/logo-coral.svg"
             width="110" height="32" />
    
</a>


    <div class="visible-xxs-block visible-xs-inline-block mb10"></div>
    <span class="footer__copyright dib mr20 text-midnight-lighter">
        Copyright &copy; 2018 Udemy, Inc.
    </span>
    <div class="visible-xxs-block visible-xs-inline-block mb10"></div>

    
    
    </div>
    
    
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="http://kalarikendramdelhi.com">Image Rectoucing</a></li>
    <li><a href="http://kalarikendramdelhi.com">Clipping Path</a></li>
    <li><a href="http://kalarikendramdelhi.com">Hollow Man Montage</a></li>
    <li><a href="http://kalarikendramdelhi.com">Ebay & Amazon</a></li>
    <li><a href="http://kalarikendramdelhi.com">Hair Masking/Clipping</a></li>
    <li><a href="http://kalarikendramdelhi.com">Image Cropping</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    
    
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="http://kalarikendramdelhi.com">Remove Background</a></li>
    <li><a href="http://kalarikendramdelhi.com">Shadows & Mirror Reflection</a></li>
    <li><a href="http://kalarikendramdelhi.com">Logo Design</a></li>
    <li><a href="http://kalarikendramdelhi.com">Vectorization</a></li>
    <li><a href="http://kalarikendramdelhi.com">Hair Masking/Clipping</a></li>
    <li><a href="http://kalarikendramdelhi.com">Image Cropping</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    
    
    <div class=" col-sm-4 col-md  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
    <!--headin5_amrc ends here-->
    
   
    <!--footer_ul2_amrc ends here-->
    </div>
    </div>
    </div>
    
    
    <div class="container">
    <ul class="foote_bottom_ul_amrc">
    <li><a href="http://kalarikendramdelhi.com">Home</a></li>
    <li><a href="http://kalarikendramdelhi.com">About</a></li>
    <li><a href="http://kalarikendramdelhi.com">Services</a></li>
    <li><a href="http://kalarikendramdelhi.com">Pricing</a></li>
    <li><a href="http://kalarikendramdelhi.com">Blog</a></li>
    <li><a href="http://kalarikendramdelhi.com">Contact</a></li>
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2017 | Designed With by <a href="#">Your Company Name</a></p>
    
    <!--social_footer_ul ends here-->
    </div>
    
    </footer>