

<div class="c_header__search-wrapper ud-component--header-v6--header-es-autocomplete">
  <div class="c_header__search">
    <button class="btn btn-link c_header__mobile-bt" aria-label="Search">
      <span class="udi udi-search"></span>
    </button>
    <div class="c_quick-search__form">
      <form action="/courses/search/" class="es-autocomplete es-autocomplete--primary">
        <input type="hidden" name="src" value="ukw" />
        <label for="header-search-field" class="sr-only">Search</label>
        <div class="input-group">
          <input type="text" name="q" id="header-search-field" data-purpose="search-input" class="form-control"
            placeholder="Search for Courses" value="" autocomplete="off" maxlength="200" size="55" />
          <span class="input-group-btn">
            <button class="btn btn-link" type="submit" aria-label="Search">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
